project:
  type: website
  output-dir: docs

website:
  title: "morrijos.github.io"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

  repo-url: https://github.com/morrijos/semantic
  repo-actions: [view, edit, issue]

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



